@font-face {
    font-family: 'Didact Gothic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Didact Gothic Regular'), url('Assets/DidactGothic-Regular.woff') format('woff');
}
#canvas-container{
    position: fixed;
    z-index: -1;
}
body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    font-family: 'Didact Gothic Regular', sans-serif;
    font-weight: normal;
    overflow: hidden;
}
a:link {
    color: #161615;
    background-color: transparent;
    text-decoration: none;
}
.services {
    color: #161615;
    position: absolute;
    text-align: left;
}

.square {
    background: linear-gradient(269deg, rgb(36, 15, 0) 0%, rgb(119, 84, 181) 34%, rgba(233, 120, 113, 0.67) 100%);
    position: absolute;
    z-index: 3;
}

.square2 {
    background-color: #ffd2fa;
    position: absolute;
    z-index: 0;
}
.square3 {
    background-color: #00ffe75e;
    position: absolute;
    z-index: 0;
}
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}


#rect {
    background-color: chartreuse;
    position: absolute;
    box-shadow: 0 1.3vw 28px #2a2626;
}

.footer {
    background-color: #bebebe29;
    color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16vh;
    text-align: left;
    padding: 10px 0 10px 5%;
    clip-path: polygon(0px -59px, 78.81% 52.71%, 100% 20%, 100% 100%, 0% 100%);
    z-index: 2;  /* Higher than the square */
}
.footerElements {
    padding: 2vh 0 2vh 0;
}

/* Styles specific to landscape orientation */
@media (orientation: landscape) {
    .square3 {
        width: 24%;
        height: 41%;
        top: 12%;
        left: 3.29%;
        transform: rotate(300deg) rotateX(335deg) rotateY(5deg) rotateZ(162grad);
        margin-left: 56vw;
        clip-path: polygon(-117px -104px, 91.03% -53.4%, 139.33% 129.06%, -108.04% 144.99%);
        box-shadow: 10vw 10vw gold;
    }
    .footer{
        font-size: 2vh;
    }
    .services {
        color: #161615;
        position: absolute;
        text-align: left;
        font-size: 2vh;
        /*! left: 39%; */
        top: 1%;
        padding: 1% 11vh 2%;
        max-width: 24%;
    }

    .square {
        width: 30vw;
        height: 60vh;
        top: 16vh;
        left: 27.29%;
        transform-style: flat;
        transform: rotate(32deg) perspective(791px) rotateX(247deg) rotateY(355deg) rotateZ(332deg);
    }


    #rect {
        width: 55.5%;
        height: 3%;
        left: 49%;
        top: 49%;
        transform-style: flat;
        transform: perspective(14em) rotateX(76deg) rotateY(339deg) rotateZ(78deg);
        visibility: hidden;
    }

    .square2 {
        width: 24%;
        height: 41%;
        top: 24%;
        left: 1.29%;
        transform: rotate(328deg) rotateX(335deg) rotateY(5deg) rotateZ(160grad);
        margin-left: 56vw;
        clip-path: polygon(-117px -104px, 91.03% -53.4%, 139.33% 129.06%, -108.04% 144.99%);
    }
}

/* Placeholder for styles specific to portrait orientation */
@media (orientation: portrait) {
    .square2 {
        width: 96%;
        height: 12.7%;
        top: 35%;
        left: 16.3%;
        transform-style: flat;

        transform: rotate(110deg) perspective(500px) rotateX(-1deg) rotateY(-55deg) rotateZ(20deg);
        box-shadow: 12px -3vw 20px 0 #806093a6;
        background: linear-gradient(269deg, rgb(36, 15, 0) 0%, rgb(119, 84, 181) 34%, rgba(233, 120, 113, 0.67) 100%);

    }
    .square {
        visibility: hidden;
    }
    .services {
        left: 8%;
        top: 4%;
        font-size: 86%;
    }
    #rect {
        width: 15.3%;
        height: 16.8%;
        left: 38.3%;
        top: 28%;
        transform: perspective(60px) rotateX(-5deg) rotateY(-25deg) rotateZ(0deg);
        transform-style: flat;
        background-color: #00ffe75e;
        box-shadow: 8px 0.3vw 25px chartreuse;

    }
    .footer{
        font-size: 86%
    }
}
